.contact {
  @include flexContainer(column, flex-start, flex-start);
  min-height: 97.3vh;

  

  hr{
    background:-webkit-linear-gradient(-120deg, $secondary-color, #1f4df1);
    height: 2px;
    border:none;
    width: 15%;
  }

  form {
    @include flexContainer(column, center, center);
    width: 100%;

    div > * {
      display: flex;
    }

    div {
      margin: 2rem auto;

      label {
        width: 50%;
        margin-bottom: 1rem;
        background: -webkit-linear-gradient(-120deg, $secondary-color, #1f4df1);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      input{
        font: inherit;
        border: none;
        width: 50vw;
        height: 3rem;
        background: #fafafa;
        border-radius: 3px;
        font-weight: 100;
      }
    }
    input[type="submit"] {
      background: #fafafa;
      color: $dark-color;
      border: none;
      border-radius: 50px;
      padding: 2rem 4rem;
      margin-top: 2rem;
      background: #e0e0e0;
      box-shadow: 20px 20px 60px #e9e8e8, -20px -20px 60px #ffffff;
      background: -webkit-linear-gradient(-120deg, $secondary-color, #1f4df1);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: bold;
      font-size: inherit;

      &:hover{
        color:white;
        // box-shadow: -webkit-linear-gradient(-120deg, $secondary-color, #1f4df1);
        box-shadow: 2px 5px 11px 2px rgba(33,33,33,.2); 
      }

      &:active{
        box-shadow: 2px 5px 11px 2px rgba(33,33,33,.4); 
      }
    }
  }
}
