@media (max-width: 800px) {

    .header{
            height: 100% !important;
            background: white !important;
            min-width: none;
            min-height: 0vh !important;
        img{
            max-width: 100px;
            height: auto !important;
            margin: 0;
        // width: 10px;
    }
    }

    .sidebar{
        top:-3.5rem !important;
        left: -4rem !important;
        display: flex;
        flex-direction: row;
        width: 90vw;
        // max-width:max-content;
        max-width: 325px !important;

        >div{
            width:19rem !important;
            height: 9rem;
        }
    }

    .homepage .hero-header {
        border-left: 0;
        padding-top: 8rem;
    
    .container {
        width: 100%;
        grid-template-columns: 1fr;
        grid-row-gap: 8rem;

        >div{
            width: 80%;

        }
        
    }  
}

}